{% extends "base.html" %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">


        <h2>Reset Password</h2>


        <p class="sub-text">
            Create a new password for your account.
        </p>




        {% if error %}

        <p style="color:red;">
            {{ error }}
        </p>

        {% endif %}




        {% if success %}

        <p style="color:green;">
            {{ success }}
        </p>

        {% endif %}




        <form method="POST">



            <input
                type="password"
                name="new_password"
                placeholder="Enter new password"
                minlength="6"
                required
            >




            <input
                type="password"
                name="confirm_password"
                placeholder="Confirm new password"
                minlength="6"
                required
            >




            <button type="submit">
                Reset Password
            </button>



        </form>




        <br>



        <a href="/login">
            Back to Login
        </a>



    </div>

</div>


{% endblock %}